{% load static %}
<div class="loader_overlay"></div>

<div id="opacity"></div>
<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="header-meta-list">
          <div>
            <a href="index.html">
              <img
                src="{% static 'images/vector_706a88566eab4f009bed6eea93cd890b.png' %}"
              />
              <span>149 Cửa hàng khắp cả nước</span>
            </a>
          </div>
          <div>
            <a href="index.html">
              <img
                src="{% static 'images/group_8de276faa50c486b9d485826c506803b.png' %}"
              />
              <span>Đặt hàng: 1800.6936</span>
            </a>
          </div>
          <div>
            <a href="">
              <img src="" />
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<header>
  <div class="container">
    <div class="header_nav">
      <div class="header_logo">
        <div class="logo_wrap">
          <a href="index.html" class="logo" title="the coffee house">
            <svg class="svg-logo">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="#logo"
              ></use>
            </svg>
          </a>
          <h1 class="hidden">
            <a class="logo-name" href="index.html" title="The Coffee House"
              >The Coffee House</a
            >
          </h1>
        </div>
        <a
          class="visible-xs visible-sm"
          href="javascript:void(0)"
          id="showmenu-mobile"
          ><span></span><span></span><span></span
        ></a>
      </div>
      <div class="header_menu">
        <div class="close-btn-wrap">
          <a href="#" class="closemenu-mobile">
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.00023 5.58599L11.9502 0.635986L13.3642 2.04999L8.41423 6.99999L13.3642 11.95L11.9502 13.364L7.00023 8.41399L2.05023 13.364L0.63623 11.95L5.58623 6.99999L0.63623 2.04999L2.05023 0.635986L7.00023 5.58599Z"
                fill="black"
                fill-opacity="0.85"
              />
            </svg>
          </a>
        </div>

        <ul class="clearfix">
          <li>
            <a href="/collections?category=all" title="Cà phê">Cà phê</a>
          </li>

          <li>
            <a href="/collections?category=all" title="Trà">Trà</a>
          </li>

          <li class="has_child">
            <a href="/collections?category=all" title="Menu">
              Menu
              <svg
                width="6"
                height="4"
                viewBox="0 0 6 4"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.99992 3.33332L0.333252 0.666656H5.66659L2.99992 3.33332Z"
                  fill="black"
                  fill-opacity="0.6"
                />
              </svg>
            </a>
            <ul class="menu_child" id="menu_child_3_3">
              <li class="lv2_title">
                <a href="/collections?category=all" title="Tất Cả">Tất Cả</a>
              </li>
              <li class="lv2_title">
                <a href="/collections?category=all" title="Cà Phê">Cà Phê</a>
                <ul class="menu_child_lv3">
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a
                      href="/collections?category=all"
                      title="Cà Phê Highlight"
                    >
                      Cà Phê Highlight
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a
                      href="/collections?category=all"
                      title="Cà Phê Việt Nam"
                    >
                      Cà Phê Việt Nam
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="Cà Phê Máy">
                      Cà Phê Máy
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="Cold Brew">
                      Cold Brew
                    </a>
                  </li>
                </ul>
              </li>
              <li class="lv2_title">
                <a href="/collections?category=all" title="Trà"
                  >Trà</a
                >
                <ul class="menu_child_lv3">
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a
                      href="/collections?category=all"
                      title="Trà trái cây"
                    >
                      Trà trái cây
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a
                      href="/collections?category=all"
                      title="Trà sữa Macchiato"
                    >
                      Trà sữa Macchiato
                    </a>
                  </li>
                </ul>
              </li>
              <li class="lv2_title">
                <a href="/collections?category=all" title="Cloud">Cloud</a>
                <ul class="menu_child_lv3">
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="CloudTea">
                      CloudTea
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="CloudFee">
                      CloudFee
                    </a>
                  </li>
                </ul>
              </li>
              <li class="lv2_title">
                <a href="/collections?category=all" title="Hi-Tea Healthy"
                  >Hi-Tea Healthy</a
                >
                <ul class="menu_child_lv3">
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="Hi-Tea Trà">
                      Hi-Tea Trà
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a
                      href="/collections?category=all"
                      title="Hi-Tea Đá Tuyết"
                    >
                      Hi-Tea Đá Tuyết
                    </a>
                  </li>
                </ul>
              </li>
              <li class="lv2_title">
                <a
                  href="/collections?category=all"
                  title="Trà Xanh - Sô cô la"
                  >Trà Xanh - Sô cô la</a
                >
                <ul class="menu_child_lv3">
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a
                      href="/collections?category=all"
                      title="Trà Xanh Tây Bắc"
                    >
                      Trà Xanh Tây Bắc
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="Sô cô la">
                      Sô cô la
                    </a>
                  </li>
                </ul>
              </li>
              <li class="lv2_title">
                <a
                  href="/collections?category=all"
                  title="Thức uống đá xay"
                  >Thức uống đá xay</a
                >
                <ul class="menu_child_lv3">
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a
                      href="/collections?category=all"
                      title="Đá xay Frosty"
                    >
                      Đá xay Frosty
                    </a>
                  </li>
                </ul>
              </li>
              <li class="lv2_title">
                <a href="/collections?category=all" title="Bánh & Snack"
                  >Bánh & Snack</a
                >
                <ul class="menu_child_lv3">
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="Bánh mặn">
                      Bánh mặn
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="Bánh ngọt">
                      Bánh ngọt
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="Snack"> Snack </a>
                  </li>
                </ul>
              </li>
              <li class="lv2_title">
                <a
                  href="/collections?category=all"
                  title="Thưởng Thức Tại Nhà"
                  >Thưởng Thức Tại Nhà</a
                >
                <ul class="menu_child_lv3">
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a
                      href="/collections?category=all"
                      title="Cà phê tại nhà"
                    >
                      Cà phê tại nhà
                    </a>
                  </li>
                  <li class="lv3_title" main-menu-new-menu a_>
                    <a href="/collections?category=all" title="Trà tại nhà">
                      Trà tại nhà
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="has_child">
            <a href="javascript:void(0)" title="Chuyện Nhà">
              Chuyện Nhà
              <svg
                width="6"
                height="4"
                viewBox="0 0 6 4"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.99992 3.33332L0.333252 0.666656H5.66659L2.99992 3.33332Z"
                  fill="black"
                  fill-opacity="0.6"
                ></path>
              </svg>
            </a>
            <!-- <ul class="menu_child" id="menu_child_5_5">
              <li class="lv2_title">
                <a
                  href="pages/chuyen-ca-phe-va-trad529.html?b=1000676335"
                  title="Coffeeholic"
                  >Coffeeholic</a
                >
                <ul class="menu_child_lv3">
                  <li class="lv3_title">
                    <a
                      href="pages/chuyen-ca-phe-va-tra8c50.html?b=1000676335&amp;h=chuyencaphe"
                      title="Chuyện Cà Phê"
                    >
                      #chuyencaphe
                    </a>
                  </li>
                  <li class="lv3_title">
                    <a
                      href="pages/chuyen-ca-phe-va-tra6af2.html?b=1000676335&amp;h=phacaphe"
                      title="Pha Cà Phê"
                    >
                      #phacaphe
                    </a>
                  </li>
                </ul>
              </li>
              <li class="lv2_title">
                <a
                  href="pages/chuyen-ca-phe-va-tra9ebe.html?b=1000676336"
                  title="Teaholic"
                  >Teaholic</a
                >
                <ul class="menu_child_lv3">
                  <li class="lv3_title">
                    <a
                      href="pages/chuyen-ca-phe-va-traab4c.html?b=1000676336&amp;h=phatra"
                      title="Pha Trà"
                    >
                      #phatra
                    </a>
                  </li>
                  <li class="lv3_title">
                    <a
                      href="pages/chuyen-ca-phe-va-tra4375.html?b=1000676336&amp;h=cauchuyenvetra"
                      title="Câu chuyện về trà"
                    >
                      #cauchuyenvetra
                    </a>
                  </li>
                </ul>
              </li>
              <li class="lv2_title">
                <a
                  href="pages/chuyen-ca-phe-va-trae193.html?b=1000676337"
                  title="Blog"
                  >Blog</a
                >
                <ul class="menu_child_lv3">
                  <li class="lv3_title">
                    <a
                      href="pages/chuyen-ca-phe-va-tradaa9.html?b=1000676337&amp;h=inthemood"
                      title="In The Mood"
                    >
                      #inthemood
                    </a>
                  </li>
                  <li class="lv3_title">
                    <a
                      href="pages/chuyen-ca-phe-va-tra2555.html?b=1000676337&amp;h=Review"
                      title="Review"
                    >
                      #Review
                    </a>
                  </li>
                  <li class="lv3_title">
                    <a
                      href="pages/chuyen-ca-phe-va-tra20cd.html?b=1000676337&amp;h=HumanofTCH"
                      title="Human of TCH"
                    >
                      #HumanofTCH
                    </a>
                  </li>
                </ul>
              </li>
            </ul> -->
          </li>

          <li>
            <a
              href="javascript:void(0)"
              title="Cảm hứng CloudFee"
              >Cảm hứng CloudFee</a
            >
          </li>

          <li>
            <a href="javascript:void(0)" title="Cửa hàng"
              >Cửa hàng</a
            >
          </li>

          <li>
            <a
            href="javascript:void(0)"
              title="Tuyển dụng"
              >Tuyển dụng</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
